.header {
  color: blueviolet;
}

.question-no {
  color: navy;
}

.question {
  color: magenta;
}

.btn {
  background-color: lightpink;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between, center;
  margin-top: 20px;
  border-radius: 20px;
  padding: 5px;
}

.radio-btns {
  padding: 5px;
}
